<!-- Sidebar -->

<aside class="sidebar" style="font-size: 14px">

    <div class="widget">
        <h5>KONTAKTI</h5>
        <table class="table table-hover" id="trainers">
            <tr>
                <th>E-MAIL</th>
                <th>TELEFON</th>
            </tr>
            <tr>
                <td><span><a href="mailto:nezahafner1@gmail.com">Neža Hafner Vrtačič</a></span></td>
                <td><span>041 914 314</span></td>
            </tr>
            <tr>
                <td><span><a href="mailto:sport10.00@gmail.com">Jože Vrtačič</a></span></td>
                <td><span>041 884 860</span></td>
            </tr>
            <tr>
                <td><span><a href="mailto:tatjana1.likar@gmail.com">Tatjana Hafner</a></span></td>
                <td><span>040 163 788</span></td>
            </tr>
        </table>
    </div>
    <div class="widget">
        <h5>TERMINI TRENINGOV</h5>
        {% setcontent items = 'termini' %}

        {% for item in items %}
            {{ item.body }}
        {% endfor %}
    </div>

    <div class="widget">
        <h5>ZADNJE NOVICE</h5>

        {% setcontent items = 'novice/latest/5' %}
        <ul class="list-group">
            {% for item in items %}
                <li>
                    <a href="{{ item.link }}">{{ item.title|upper }}</a>,
                    {{ item.datepublish|date("d.m.Y") }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="widget">
        <h5>ZADNJE GALERIJE</h5>

        {% setcontent items = 'galerije/latest/5' %}
        <table class="table">
        {% for item in items %}
            <tr>
                <td>
                    {% for image in item.imagelist|slice(0,1) %}

                        <img class="img-thumbnail" src="{{ thumbnail(image, 100,100) }}">

                    {% endfor %}
                </td>
                <td>
                    <a href="{{ item.link }}">{{ item.title|upper }}</a>,
                    {{ item.datepublish|date("d.m.Y") }}

                    {%  set imgCount = item.imagelist|length %}
                    {% if imgCount == 1 %}
                        <span>(1 slika)</span>
                    {% elseif imgCount == 2 %}
                        <span>(2 sliki)</span>
                    {% elseif imgCount > 2 and imgCount < 5 %}
                        <span>({{ imgCount }} slike)</span>
                    {% else %}
                        <span>({{ imgCount }} slik)</span>
                    {% endif %}
                    <div>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</aside>

<!-- End Sidebar -->
