
<!-- Footer -->

<footer>

</footer>

<!-- End Footer -->




</div>
</div>
<!-- End Container -->
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="{{ paths.theme }}javascripts/app.js"></script>
<script src="{{ paths.theme }}javascripts/jquery.js"></script>
<script src="{{ paths.theme }}javascripts/jquery.easing.1.3.js"></script>
<script src="{{ paths.theme }}javascripts/bootstrap.min.js"></script>
<script src="{{ paths.theme }}javascripts/jquery.fancybox.pack.js"></script>
<script src="{{ paths.theme }}javascripts/jquery.fancybox-media.js"></script>
<script src="{{ paths.theme }}javascripts/google-code-prettify/prettify.js"></script>
<script src="{{ paths.theme }}javascripts/portfolio/jquery.quicksand.js"></script>
<script src="{{ paths.theme }}javascripts/portfolio/setting.js"></script>
<script src="{{ paths.theme }}javascripts/jquery.flexslider.js"></script>
<script src="{{ paths.theme }}javascripts/animate.js"></script>
<script src="{{ paths.theme }}javascripts/custom.js"></script>

</body>
</html>
