<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ htmllang() }}"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="{{ htmllang() }}"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="{{ htmllang() }}"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ htmllang() }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {# make sure we always display a proper title: The record's title if there is one, appended with the
    sitename. If there is no title, we append the sitename with the payoff, if there is one. #}

    <title>
        {% block title %}
            {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
            {{ app.config.get('general/sitename') }}
            {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
        {% endblock %}
    </title>

    {# paths.theme is always a correct path to the current theme. Even if you rename the theme-folder,
    this will keep working. See the documentation on paths: http://docs.bolt.cm/internals#paths #}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ paths.theme }}stylesheets/style.css">
    {% endblock %}

    {#<!-- A variable from the theme's config: {{ theme.foo }} -->#}

    <meta property="og:title" content="{{ app.config.get('general/sitename') }}"/>
    <meta property="og:site_name" content="{{ app.config.get('general/sitename') }}"/>
    <meta property="og:url" content="http://www.neza6ak.si"/>
    <meta property="og:description" content="Športno društvo Neža je društvo za posredovanje športnega znanja. Skupaj s strokovno podkovanimi učitelji bomo razvijali raznovrstne gibalne in funkcionalne sposobnosti. S športom se bomo socializirali, gradili pozitivno samopodobo ter pozitivna stališča do športa."/>
    <meta property="og:locale" content="si_SI"/>
    <meta property="og:image" content="http://graphics.myfavnews.com/images/logo-100x100.jpg"/>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-11692669-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<div id="wrapper">
    <header style="min-height: 90px">
        <div class="navbar navbar-fixed-top">
            <div class="container" style="">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://www.sd-neza.si">
                        <img height="60px" src="{{ paths.theme }}/images/logo.png"/>
                        <span id="long-title">Športno društvo</span> <span id="short-title">ŠD</span> Neža</a>
                </div>
                <div class="collapse navbar-collapse" style="">
                    <ul class="nav navbar-nav">
                        {{ menu('main', '_sub_menu.twig') }}
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </header>

    {% block slides %}
        {% include '_slides.twig' %}
    {% endblock %}

    {% block notifications %}
        {% include '_notifications.twig' %}
    {% endblock %}

    {% block body %}

    {% endblock %}
</div> {# end wrapper #}
<!-- End Container -->

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{{ paths.theme }}javascripts/jquery.flexslider.js"></script>
    <script src="{{ paths.theme }}javascripts/custom.js"></script>
{% endblock %}
</body>
</html>

